{% extends 'weather_app/base.html' %}
{% block start %}

<div class="container mt-5">
    <form class="col-4 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Login</h2>
        <hr>
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>

        {% endfor %}
        {% endif %}
        <div class="form-group mb-3">
            <label>Username</label>
            <input name="username" type="text" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-success mt-3 mb-4">Login</button>
        <p class="text-center mt-1">Don't have an account? <a href="/register"
                class="text-primary text-decoration-none">Register</a></p>

    </form>
</div>

{% endblock %}